.gitmodules

bin/sync/database_auth.sh

log/*.log
log/equipo/*
log/php-fpm/*
log/mapa/*
!log/equipo/.gitkeep
!log/mapa/.gitkeep
!log/php-fpm/.gitkeep

etc/global_config.php
etc/equipo-db.conf
etc/nginx/*
!etc/nginx/*.sample
etc/php-fpm/*
!etc/php-fpm/*.sample

files/blog/*
!files/blog/.gitkeep
files/crm/custom/*
!files/crm/custom/.gitkeep
files/crm/images/*
!files/crm/images/.gitkeep
files/crm/upload/*
!files/crm/upload/.gitkeep
!files/crm/.gitkeep
files/equipo/*
!files/equipo/.gitkeep
files/red/*
!files/red/.gitkeep
files/wiki/*
!files/wiki/.gitkeep
files/mapa/*
!files/mapa/.gitkeep
files/equipo/*
!files/equipo/.gitkeep

tmp/equipo/*
tmp/mapa/*
tmp/wiki/cache/*
!tmp/equipo/.gitkeep
!tmp/mapa/.gitkeep
!tmp/wiki/cache/.gitkeep

www/equipo/.bundle
www/equipo/db/schema.rb

