bin/sync/database_auth.sh

log/*

etc/global_config.php
etc/equipo-db.conf

files/blog/*
files/crm/*
files/equipo/*
files/red/*
files/wiki/*

run/*

tmp/*
!tmp/equipo/.gitkeep
!tmp/wiki/cache/.gitkeep

www/equipo/.bundle
www/equipo/db/schema.rb

