.gitmodules

bin/sync/database_auth.sh

log/*.log
log/equipo/*
log/php-fpm/*
!log/equipo/.gitkeep
!log/php-fpm/.gitkeep

etc/global_config.php
etc/equipo-db.conf
etc/nginx/*
!etc/nginx/offline.conf
!etc/nginx/*.sample
etc/php-fpm/*
!etc/php-fpm/*.sample

files/blog/*
!files/blog/.gitkeep
files/crm/*
!files/crm/.gitkeep
files/equipo/*
!files/equipo/.gitkeep
files/red/*
!files/red/.gitkeep
files/wiki/*
!files/wiki/.gitkeep

tmp/equipo/*
tmp/wiki/cache/*
!tmp/equipo/.gitkeep
!tmp/wiki/cache/.gitkeep

www/equipo/.bundle
www/equipo/db/schema.rb

