[submodule "lib/theme"]
	path = lib/theme
	url = ssh://git@git.reevo.org/~/reevo/reevo/reevo-theme
[submodule "lib/equipo-plugins"]
	path = lib/equipo-plugins
	url = ssh://git@git.reevo.org/~/reevo/redmine/reevo-redmine-plugins
[submodule "lib/blog-plugins"]
	path = lib/blog-plugins
	url = ssh://git@git.reevo.org/~/reevo/wordpress/reevo-wp-plugins
[submodule "lib/red-plugins"]
	path = lib/red-plugins
	url = ssh://git@git.reevo.org/~/reevo/elgg/reevo-elgg-plugins
[submodule "lib/wiki-plugins"]
	path = lib/wiki-plugins
	url = ssh://git@git.reevo.org/~/reevo/mediawiki/reevo-mediawiki-plugins
