server {
	server_name admin.example.org;
	root /srv/reevo-web/www/admin;

	access_log /srv/reevo-web/log/admin/nginx.access.log;
	error_log /srv/reevo-web/log/admin/nginx.error.log warn;

	index  index.html index.htm index.php;

	location ~ .php$ {
		try_files $uri =404;
		fastcgi_pass unix:/srv/reevo-web/run/admin.socket;
		fastcgi_index index.php;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		include fastcgi_params;
		fastcgi_buffer_size 128k;
		fastcgi_buffers 256 4k;
		fastcgi_busy_buffers_size 256k;
		fastcgi_temp_file_write_size 256k;
		add_header  X-Robots-Tag "noindex, nofollow, nosnippet, noarchive";
	}
}