server {
	server_name map.example.org mapa.example.org;
	root /srv/reevo-web/www/mapa;

	access_log /srv/reevo-web/log/mapa/nginx.access.log;
	error_log /srv/reevo-web/log/mapa/nginx.error.log warn;

	index index.php index.html index.htm;

	location / {
		# Sitio offline
		if ($maintenance) { return 503; }
		try_files $uri $uri/ /index.php$uri?$args;

		# Bloquea bots
		if ($limit_bots) { add_header  X-Robots-Tag "noindex, nofollow, nosnippet, noarchive"; }
	}

	error_page 503 @maintenance;
	location @maintenance {
		rewrite ^(.*)$ /errors/503/index.html break;
	}

	location ~* ^/(modules|application|system) {
		return 403;
	}

	location ~ \.php {
		fastcgi_pass  unix:/srv/reevo-web/run/mapa.socket;
		include /etc/nginx/fastcgi_params;
		fastcgi_split_path_info ^(.*\.php)(.*)$;
		fastcgi_param PATH_INFO $fastcgi_path_info;
		fastcgi_intercept_errors        on;
		fastcgi_index                   index.php;
	}

	location ~ /\.ht {
		deny all;
	}
}
