# ----
# Copyright (C) 2013-2015 - Reevo Project (http://reevo.org)
# License: Affero GPL version 3 - http://www.gnu.org/licenses/agpl.html
# ES: Este archivos es parte de: reevo-web (http://git.reevo.org/reevo/reevo-web)
# EN: This file is part of: reevo-web (http://git.reevo.org/reevo/reevo-web)
# ----

server {
	listen 80;
	server_name mapa.reevo.org map.reevo.org;
	root /srv/reevo-web/www/mapa;
	index index.html;

	access_log /srv/reevo-web/log/mapa/nginx.access.log;
	error_log /srv/reevo-web/log/mapa/nginx.error.log warn;

	proxy_intercept_errors on;

	location / {
		# Sitio offline
		if ($maintenance) { return 503; }

		index index.php;
		try_files $uri $uri/ /index.php$uri?$args;

		# Bloquea bots
		if ($limit_bots) { add_header  X-Robots-Tag "noindex, nofollow, nosnippet, noarchive"; }
	}

	location ^~ /index.php {
		allow all;
		fastcgi_split_path_info ^(.*\.php)(.*)$;

		fastcgi_param   QUERY_STRING        $query_string;
		fastcgi_param   REQUEST_METHOD      $request_method;
		fastcgi_param   CONTENT_TYPE        $content_type;
		fastcgi_param   CONTENT_LENGTH      $content_length;

		fastcgi_param   SCRIPT_FILENAME     $request_filename;
		fastcgi_param   SCRIPT_NAME         $fastcgi_script_name;
		fastcgi_param   REQUEST_URI         $request_uri;
		fastcgi_param   DOCUMENT_URI        $document_uri;
		fastcgi_param   DOCUMENT_ROOT       $document_root;
		fastcgi_param   SERVER_PROTOCOL     $server_protocol;

		fastcgi_param   GATEWAY_INTERFACE   CGI/1.1;
		fastcgi_param   SERVER_SOFTWARE     nginx/$nginx_version;

		fastcgi_param   REMOTE_ADDR         $remote_addr;
		fastcgi_param   REMOTE_PORT         $remote_port;
		fastcgi_param   SERVER_ADDR         $server_addr;
		fastcgi_param   SERVER_PORT         $server_port;
		fastcgi_param   SERVER_NAME         $server_name;

		fastcgi_param   HTTPS               $https;

		fastcgi_param   REDIRECT_STATUS     200;

		fastcgi_connect_timeout       60;
		fastcgi_send_timeout          180;
		fastcgi_read_timeout          300;
		fastcgi_buffer_size           128k;
		fastcgi_buffers               4 256k;
		fastcgi_busy_buffers_size     256k;
		fastcgi_temp_file_write_size  256k;
		fastcgi_intercept_errors      on;

		fastcgi_index index.php;

		fastcgi_pass unix:/srv/reevo-web/run/mapa.socket;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		fastcgi_param PATH_INFO $fastcgi_path_info;
		break;
	}

	# Allow access to the installer only from the admin IP address.
	location ~* ^/installer/.*\.php$ {
		allow 127.0.0.1;  # SET THIS ADMIN_ADDRESS TO YOUR OWN IP ADDRESS
		fastcgi_split_path_info ^(.*\.php)(.*)$;

		include /etc/nginx/fastcgi_params;
		fastcgi_pass unix:/srv/reevo-web/run/mapa.socket;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		fastcgi_param PATH_INFO $fastcgi_path_info;
	}

	location ~* \.php$ {
		deny all;
		break;
	}

	location ~* ^/(application|system|sql|tests|readme.html|license.txt).* {
		deny all;
		break;
	}

	location ^~ /modules {
		allow 127.0.0.1;
		deny all;
		break;
	}

	location /plugins {
		log_not_found off;
		try_files $uri =404;
		expires max;
		break;
	}

	location /media {
		log_not_found off;
		try_files $uri =404;
		expires max;
		break;
	}

	location /img/ {
		rewrite ^ /media/$request_uri permanent;
		break;
	}

}
