# ----
# Copyright (C) 2013-2015 - Reevo Project (http://reevo.org)
# License: Affero GPL version 3 - http://www.gnu.org/licenses/agpl.html
# ES: Este archivos es parte de: reevo-web (http://git.reevo.org/reevo/reevo-web)
# EN: This file is part of: reevo-web (http://git.reevo.org/reevo/reevo-web)
# ----

server {
	listen 80;
	server_name red.example.org;

	# Server root, replace it with your elgg installation location
	root /srv/reevo-web/www/red;
	index index.php index.html index.htm;

	access_log /srv/reevo-web/log/red/nginx.access.log;
	error_log /srv/reevo-web/log/red/nginx.error.log warn;

	gzip on;
	gzip_types
		# text/html is always compressed by HttpGzipModule
		text/css
		text/javascript
		text/xml
		text/plain
		text/x-component
		application/javascript
		application/x-javascript
		application/json
		application/xml
		application/rss+xml
		font/truetype
		font/opentype
		application/vnd.ms-fontobject
		image/svg+xml;


	# Max post size
	client_max_body_size 8M;

	location ~ (^\.|/\.) {
		return 403;
	}

	location = /rewrite.php {
		rewrite ^(.*)$ /install.php;
	}

	location / {
		try_files $uri $uri/ @elgg_reevo;
	}

	# pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
	location ~ \.php$ {
		try_files $uri @elgg_reevo;
		fastcgi_index index.php;
		fastcgi_pass unix:/srv/reevo-web/run/red.socket;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		include /etc/nginx/fastcgi_params;
	}

	location @elgg_reevo {
		fastcgi_pass unix:/srv/reevo-web/run/red.socket;

		include /etc/nginx/fastcgi_params;
		fastcgi_param SCRIPT_FILENAME $document_root/index.php;
		fastcgi_param SCRIPT_NAME     /index.php;
		fastcgi_param QUERY_STRING    __elgg_uri=$uri&$args;
	}
}
