
upstream reevo_red {
    # socket-based
    server  unix:/srv/reevo-web/run/red.socket;
}

server {
  listen          80;
  server_name     red.peervox.org;
  charset         utf8;

  access_log      off;
  access_log      /srv/reevo-web/log/nginx-red.access.log;
  error_log       /srv/reevo-web/log/nginx-red.error.log debug;
	rewrite_log on;
  
  root            /srv/reevo-web/www/red;
  index           index.php;


  try_files       /maintenance.html $uri @rewrite;
  error_page      404 502 504 = @elgg;
  # I'm a teapot: used in redirections to avoid duplication of backend configuration
  error_page              418                     = @elgg;


  # Cache bypasses the Elgg engine
  location ~ ^/cache/ {
    rewrite ^/cache\/(.*)$ /engine/handlers/cache_handler.php?request=$1&$query_string;
  }

  # Export allows data export
  location /export {
    rewrite ^/export\/([A-Za-z]+)\/([0-9]+)\/?$ /engine/handlers/export_handler.php?view=$1&guid=$2;
    rewrite ^/export\/([A-Za-z]+)\/([0-9]+)\/([A-Za-z]+)\/([A-Za-z0-9\_]+)\/$ /engine/handlers/export_handler.php?view=$1&guid=$2&type=$3&idname=$4;
  }

  location = /rewrite.php {
    rewrite ^(.*)$ /install.php;
  }

  # Pass known PHP files to backend
  location ~ /(index|install|upgrade)\.php(/|$) {
    return  418;
  }

  # Only authorize access to PHP handlers via internal redirections (@rewrite rules)
  location ~ ^/engine/handlers/(action|cache|export|page|service)_handler\.php(/|$) {
    internal;
    return 418;
  }

  # force static locations
  location = /favicon.ico         {
    expires					+1y;
    log_not_found   off;
  }

  # Only present during maintenance
  location = /maintenance.html    {
    log_not_found   off;
  }
	
  # Cache and/or compress assets
  location ~* \.(css|js|html)$ {
    expires         modified +1y;
    gzip_static     on;
    log_not_found   off;
  }

  # Non-static images FTW :P
  location ~ ^/(^groupicon) {
    location ~* \.(jpg|jpeg|gif|png|mp3|ogg|oga|ogv|mpg|mpeg|flv|mov|avi|3pg|swf|ico)$ {
      expires         modified +1y;
      gzip_static     off;
      log_not_found   off;
    }
  }

  # Hide version.php from the Web
  location = /version.php {
    internal;
  }

  # Hide dotfiles
  location ~ /\. {
    return 403;
  }
	
  location / {
    try_files $uri $uri/ /index.php?__elgg_uri=$uri&$query_string;

  # Sitio offline
    if ($maintenance) {
      return 503;
    }

  }

  location ~ /mod/profile/icondirect\.php$ {
    return 418;
  }
	
  # file plugin
  location ~ /mod/file/thumbnail\.php {
    return 418;
  }

  # Enable catching faulty modules missing a page_handler
  location ~ \.php(/|$) {
    access_log      /var/log/red-direct-php-access.log;
    return 403;
  }
	
  location @elgg {
		fastcgi_split_path_info ^(.+\.php)(/.+)$;
		# NOTE: You should have "cgi.fix_pathinfo = 0;" in php.ini
		fastcgi_param  SCRIPT_FILENAME    $document_root$fastcgi_script_name;
		# With php5-cgi alone:
		fastcgi_pass    reevo_red;     # upstream
		fastcgi_index index.php;
		include fastcgi_params;
  }

  error_page 503 @maintenance;
  location @maintenance {
    rewrite ^(.*)$ /errors/503/index.html break;
  }


}
