<?php

# ----
# Copyright (C) 2013-2015 - Reevo Project (http://reevo.org)
# License: Affero GPL version 3 - http://www.gnu.org/licenses/agpl.html 
# ES: Este archivos es parte de: reevo-web (http://git.reevo.org/reevo/reevo-web)
# EN: This file is part of: reevo-web (http://git.reevo.org/reevo/reevo-web)
# ----

## ES: Defina el usuario y contraseña para acceder a las DBs
## EN: Define user and password to access DBs

$REEVO_URL 		= "example.org";

$REEVO_DB_USER	= "user";
$REEVO_DB_PASS	= "password";

$REEVO_DB_BLOG	= "reevo_blog";
$REEVO_DB_CRM	= "reevo_crm";
$REEVO_DB_RED	= "reevo_red";
$REEVO_DB_WIKI	= "reevo_wiki";

?>
